body, .container{
  background-color: rgb(250, 250, 250);
  color: rgba(0,0,0,0.87);
  height:100%;
}


.App-header {

}

h1{
  text-align: center;
  font-family: -apple-system-headline;
  font-size: 16pt;
  font-size: 8vw;
  margin-top:10vh;
  cursor: pointer;
}

h1 .emoji{
  position:relative;
  top: 1vw;
}

.App-header p{
  text-align: center;
  font-size: 14pt;
  margin-top: 30pt;
}

.App-header button{
  display: block;
  background-color: #FF4646;
  color:white;
  border:none;
  border-bottom:4pt solid rgba(0,0,0,0.12);
  padding: 12pt 20pt 12pt 20pt;
  margin-left:auto;
  margin-right: auto;
  font-size: 20pt;
  margin-top: 10pt;
  min-width:260px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

#promptButtons{
  margin-top:2vh;
}

/*.App-header button:hover{
  background-color: #CC3838;
  transition: background-color 0.3s;
}*/

.App-header button:active{
  background-color: #972929;
  /*transition: background-color 0.3s;*/
}

#districtInput{
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 5vh;
}

/*#districtInput input[type="text"]{
  display:block;
  margin-left:auto;
  margin-right:auto;
  background-color: transparent;
  border-style: none;
  border-bottom: 4pt solid #FF4646;
  font-size: 14pt;
  width:100%;
  margin-bottom: 3vh;
  border-radius: 0;
}*/

footer{
  padding-bottom:10pt;
  text-align: center;
  font-size: 12pt;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

@media (max-width: 413pt) {
  #promptButtons{
    margin-top:15pt;
  }

  h1{
    text-align: center;
    font-family: -apple-system-headline;
    font-size: 16pt;
    font-size: 16vw;
    margin-top:10vh;
  }

  h1 .emoji{
    position:relative;
    top: 0vw;
  }

  .App-header button{
    font-size: 18pt;
  }
}
